@charset "UTF-8";

:root {
  --blue: #5b6986;
  --brown: #885e62;
  --beige: #dfc8ba;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Crimson Pro', serif;
    font-weight: 400;
    color: var(--blue);
}

img {
	display: block;
}

h1 {
	font-size: 1.6rem;
}

h2 {
	font-size: 1.2rem;
}

p {
	font-size: 1rem;
	margin-top: .6rem;
}

header {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header img {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

header h1 {
	margin-top: 3vw;
    font-family: 'Dancing Script', cursive;
    font-size: 10vw;
}

header h2 {
	margin-top: 33vw;
	font-size: 6vw;
}

header h6 {
	margin: 45vw 0 1rem 0;
	font-size: 4vw;
}

.divider {
	width: 100%;
}

.lane {
	padding: 1rem;
}

.blueLane {
	padding: 1.5rem;
	background-color: var(--blue);
}

.blueLane * {
	color: white;
	position: relative;
}

.border:before, .border:after {
	position: absolute;
	content: "";
	width: 12rem;
	height: 3rem;
 	background-color: white;
}

.border:before {
  	left:-3px;
 	top: -3px;
}

.border:after {
  	right: -3px;
 	bottom: -3px;
}

.blueLaneText {
	background-color: var(--blue);
	z-index: 100;
	padding: 1.5rem;
}

.blueLaneText h2 {
	margin-top: 3rem;
}

@media (min-width: 480px) {

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.4rem;
	}

	p {
		font-size: 1.2rem;
		margin-top: 1rem;
	}
	
	header h6 {
		margin-bottom: 3rem;
		font-size: 3.5vw;
	}

	.lane {
		padding: 3rem 12vw;
	}

	.blueLane {
		padding: 3rem 18vw;
	}

	.blueLaneText {
		padding: 3rem;
	}


	.blueLaneText h2 {
		margin-top: 2rem;
	}

	.border:before, .border:after {
		width: 12rem;
		height: 5rem;
	}
}

@media (min-width: 845px) {

	header img {
		height: 94vh;
		width: auto;
	}

	header h1 {
		margin-top: 3vh;
		font-size: 9.4vh;
	}

	header h2 {
		margin-top: 31vh;
		font-size: 5.6vh;
	}
	
	header h6 {
		margin-top: 42vh;
		font-size: 3vh;
	}
}


@media (min-width: 1200px) {
	h1 {
		font-size: 2.4rem;
	}

	h2 {
		font-size: 1.8rem;
	}

	p {
		font-size: 1.3rem;
		margin-top: 1.2rem;
	}

	header h6 {
		margin-bottom: 5rem;
	}

	.lane {
		padding: 5rem 28vw;
	}

	.blueLane {
		padding: 5rem 24vw;
	}

	.blueLaneText {
		padding: 5rem;
	}

	.blueLaneText h2 {
		margin-top: 3rem;
	}

	.border:before, .border:after {
		width: 24rem;
		height: 7rem;
	}
}